<template>
  <v-form
    ref="form"
    v-model="valid"
  >
    <v-textarea
        v-model="text"
        :rules="textRules"
        label="Note text"
        @change="validate"
        required
    ></v-textarea>
    <v-btn
      elevation="5"
      :disabled="!valid"
      color="primary"
      block
      @click="addNote"
    >
      Add note
    </v-btn>
  </v-form>
</template>

<script>
  export default {
    name: "CreationForm",
    data: () => ({
      valid: false,
      text: '',
      textRules: [
          v => (v && v.length > 0) || 'Field must be filled',
      ]
    }),
    methods: {
      validate() {
        this.$refs.form.validate();
      },
      reset () {
        this.$refs.form.reset();
      },
      addNote() {
        this.$store.dispatch('addNote', this.text);
        this.reset();
        this.$store.commit('setFormLoading', true);
      }
    },
  }
</script>