<template>
  <v-card
    :data-id="note._id"
    elevation="5"
    class="mb-5 px-4"
  >
      <v-row class="align-center">
        <div
            @click="setEditingStatus"
            class="col"
        >
          <v-text-field
              :value="note.title"
              :disabled="!editing"
              v-model="text"
              @blur="onBlur"
          />
        </div>
        <v-btn
            class="mr-2"
            color="primary"
            v-if="editing"
            @click="updateNote"
        >Save</v-btn>
        <v-btn
            class="mr-2"
            color="error"
            @click="deleteNote"
        >Delete</v-btn>
      </v-row>
  </v-card>
</template>
<script>
  export default {
    name: "Note",
    props: ["note"],
    data: () => ({
      editing: false,
      text: ""
    }),
    methods: {
      setEditingStatus(){
        this.editing = true;
      },
      onBlur() {
        setTimeout(() => {
          this.editing = false;
        }, 300);
      },
      updateNote(){
        this.$store.dispatch('updateNote', { id: this.note._id, text: this.text });
      },
      deleteNote(){
        this.$store.dispatch('deleteNote', { id: this.note._id });
      }
    },
    beforeMount() {
      this.text = this.note.title;
    },
    watch: {
      note(newVal) {
        this.text = newVal.title
      }
    }
  }
</script>