<template>
  <div class="progress">
    <div class="progress__line" :style="{ width: `${((current/max)*100)}%` }">
      {{ current }}/{{ max }}
    </div>
  </div>
</template>
<script>
export default {
  name: 'ProgressBar',
  props: {
    current: {
      type: Number,
      default: 0
    },
    max: {
      type: Number,
      default: 10
    }
  }
}
</script>

<style lang="scss">
  @import "../assets/colors";
  .progress {
    width: 100%;
    text-align: center;
    color: #fff;
    background-color: $greyBackground;
  }
  .progress__line {
    height: 100%;
    padding: 15px;
    background: $primary;
  }
</style>