@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap');

body {
  margin: 0;
}
.v-application {
  font-family: 'Montserrat', sans-serif;
}
* {
  box-sizing: border-box;
}