<template>
  <div class="hello">
    <v-container>
      <h1>Notes</h1>
    </v-container>
    <ProgressBar :current="notes.length" />
    <v-alert
        v-if="message"
        :type="message.type"
    >{{ message.text }}</v-alert>
    <v-container>
      <v-row>
        <v-col class="col-md-4 col-12">
          <v-card
              elevation="5"
              :loading="formLoading"
              :disabled="formLoading"
          >
            <v-card-title>Create note</v-card-title>
            <v-card-actions>
              <CreationForm class="col-12" />
            </v-card-actions>
          </v-card>
        </v-col>

        <v-col class="col-md-8 col-12">
          <v-card-title>Notes</v-card-title>
          <Note v-for="(note, i) in notes" :note="note" :key="i" />
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import ProgressBar from "@/components/ProgressBar.vue";
import CreationForm from "@/components/CreationForm.vue";
import Note from "@/components/Note.vue";

export default {
  name: 'Main',
  components: {
    ProgressBar,
    CreationForm,
    Note
  },
  computed: {
    notes() {
      return this.$store.state.notes;
    },
    message() {
      return this.$store.state.message;
    },
    formLoading() {
      return this.$store.state.formLoading;
    }
  },
  mounted() {
    this.$store.dispatch('getNotes');
  }
}
</script>

